<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Unos novog proizvoda</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/twbs/bootstrap//dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="mojcss.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="vendor/twbs/bootstrap//assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

<div id="main">

 
  <form action="#" method="post">
   {{ form(form) }}
    
 
    <div>
      {{ form_label(form.naziv, 'Naziv proizvoda') }}<br />
 
      <div class='form-input'>
        {{ form_widget(form.naziv) }}
        {{ form_errors(form.naziv) }}
      </div>
    </div>
 
    <div>
      {{ form_label(form.tip, 'Tip proizvoda:') }}<br />
 
      <div class='form-input'>
        {{ form_errors(form.tip) }}
        {{ form_widget(form.tip) }}
      </div>
    </div>
 

      <div>
      {{ form_label(form.veggie,'Vegeterijanski:') }}<br />
        <div class='form-input'>
        {{ form_errors(form.veggie) }}

        {% for choiceFormView in form.veggie %}
            {{ form_widget(choiceFormView) }}
        % endfor %}

          </div>
        </div>
 
  <div>
      {{ form_label(form.halal,'Halal:') }}<br />
        <div class='form-input'>
        {{ form_errors(form.halal) }}

        {% for choiceFormView in form.halal %}
            {{ form_widget(choiceFormView) }}
        % endfor %}

          </div>
        </div>
 


<div>
      {{ form_label(form.kosh,'Košer:') }}<br />
        <div class='form-input'>
        {{ form_errors(form.kosh) }}

        {% for choiceFormView in form.kosh %}
            {{ form_widget(choiceFormView) }}
        % endfor %}

          </div>
        </div>
 


<div>
      {{ form_label(form.cijena, 'Cijena:') }}<br />
 
      <div class='form-input'>
        {{ form_errors(form.cijena) }}
        {{ form_widget(form.cijena) }}
      </div>
    </div>
 



 
    <input type="submit" name="Unesi podatke" />
    {{ form_end(form) }}
  </form>
</div>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
